<div>
    <h3>Login</h3>
</div>
<form class="example-container" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
        <input matInput name="email" placeholder="Email" formControlName="email">
    </mat-form-field>
    <br>
    <mat-form-field>
        <textarea matInput name="password" placeholder="Senha" formControlName="password"></textarea>
    </mat-form-field>
    <br>
    <br>
    <button type="submit" [disabled]="!loginForm.valid" mat-button color="primary">Enviar</button>
</form>