.example-button-row {
  display: flex;
  flex-direction: column;
}
.mat-drawer{
  width: 200px;
}
.example-container {
  width: 0 auto;
  height: 800px;
  margin: 10px;
  border: 1px solid #555;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}
.mat-nav-list{
  margin-top: 30px;
}
